page-modalpaket {

  border: 5px solid #c19b6c;
  text-transform: capitalize;
  font-family: "EraserRegular";

  ion-header {
    color: #ffffff;
    border-bottom: 5px dashed #bdbdbd;
    font-size: 1.3rem;
    font-weight: bolder;

    ion-icon {
      font-size: 2em;
    }
  }

  ion-content {
    background: #2e2e2e !important;

  }

  .toolbar-background {
    border-color: none;
    background: #2e2e2e;
  }

  .paket-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .col .button {
    height: 6rem;
    font-size: 4em;
  }
}
