page-register {
    .panel {
        height: 360px;
        background-color: #25820e;
        border: brown solid 10px;
        padding: 10px;
        color: #fff;
    }
    .item-md {
        background-color: transparent;
        color: white;
        margin-bottom: 10px;
        padding: 10px 0;
    }
    
    .panel .label {
        color: #fff;
    }
    .panel button {
        padding: 20px;
    }
    .invalid {
        color: rgb(255, 133, 133);
    }
    .oversized {
        font-size: 8em;
    }
}
