page-kelasmenu {
  font-family: "EraserRegular";

  .button {
    box-shadow: none;
    height: 9rem;
    width: 100px;
    color: #ffffff;
    background-color: #2e2e2e;
    border: 5px solid #c19b6c;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .outer-text {
    font-size: 4em;
  }

  #image-holder {
    position: absolute;
    bottom: 0;
    height: 250px;
  }

  .txt-head span {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 0 0 #ff0000, -2px 0 0 #ff0000, 0 2px 0 #ff0000, 0 -2px 0 #ff0000, 1px 1px #ff0000, -1px -1px 0 #ff0000, 1px -1px 0 #ff0000, -1px 1px 0 #ff0000;
  }

  @media screen and (min-width: 285px) and (max-width: 340px) {
    .txt-head span {
      font-size: 2em;
    }

    #image-holder {
      height: 190px;
    }

    .button {
      height: 70px;
      width: 70px
    }

    .outer-text {
      font-size: 2.3em;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .button {
      height: 15rem;
      width: 165px;
      font-size: 2rem;
    }
    .txt-head span {
      font-size: 4em;
    }
    #image-holder {
      height: 500px;
    }
  }

  @media screen and (min-width: 1024px) {
    .button {
      height: 18rem;
      width: 185px;
      font-size: 2rem;
    }
    .txt-head span {
      font-size: 5.5em;
    }
    #image-holder {
      height: 550px;
    }
  }
}
