page-mainmenu {
  .item {
    color: #ffffff;
    margin-bottom: 10px;
    background-color: #2ec95c;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bolder;
  }
  .item-pb .item {
    color: #ffffff;
    background-color: #FF00FF;
  }
}
