page-quis {
    ion-content {
        background: #ffffff;
    }
    .container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    .div-soal {
        position: relative;
        width: 100%;
        height: 90%;
    }
    .div-choice {
        z-index: 2;
        width: 100%;
        height: 10%;
        padding: 7px 0 0 0;
        position: fixed;
        bottom: 0;
        background-color: #e0dede;
    }
    .grid {
        padding: 0;
    }
    .segmented-button input[type="radio"] {
        width: 0;
        height: 0;
        display: none;
    }
    .div-soal img {
        max-width: 100%;
        max-height: 100%;
    }
    .div-choice .back-ques {
        position: absolute;
        left: 2px;
        top: 10px;
    }
    .div-choice .forw-ques {
        position: absolute;
        right: 2px;
        top: 10px;
    } 
    // segmented style radio button
    .segmented-button label {
        display: -moz-inline-box;
        -moz-box-orient: vertical;
        display: inline-block;
        position: relative;
        margin: 0 5px;
    }
    .segmented-button .wrap-radio span {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        top: 12px;
        left: 19px;
    }
    .selected span {
        color: #ffffff;
    }
    .no-soal {
        padding: 10px;
        position: absolute;
        top: 33px;
        left: 2px;
    }
    .no-soal span {
        font-weight: bold;
        font-size: 14px;
    } 
    //tablet only style
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .div-choice .back-ques {
            top: 20px;
            left: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .div-choice .forw-ques {
            top: 20px;
            right: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .segmented-button .wrap-radio span {
            font-size: 35px;
        }
        .segmented-button label {
            margin: 0 35px;
        }
        .radio-md .radio-icon {
            width: 75px;
            height: 75px;
            left: -8px;
            top: -4px;
        }
        .radio-md .radio-inner {
            width: 65px;
            height: 65px;
            top: 3px;
            left: 3px;
        }
        .div-choice {
            padding: 20px 0;
        }
        .no-soal span {
            font-size: 3.5rem;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1366px) {
        .scroll-content {
            overflow-y: hidden;
        }
        .div-choice .back-ques {
            top: 35px;
            left: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .div-choice .forw-ques {
            top: 35px;
            right: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .segmented-button .wrap-radio span {
            font-size: 60px;
            left: 30px;
        }
        .segmented-button label {
            margin: 0 50px;
        }
        .radio-md .radio-icon {
            width: 100px;
            height: 100px;
        }
        .radio-md .radio-inner {
            width: 90px;
            height: 90px;
            top: 3px;
            left: 3px;
        }
        .div-choice {
            padding: 20px 0;
        }
        .no-soal span {
            font-size: 3.5rem;
        }
    }
    @media screen and (min-width: 1367px) {
        .scroll-content {
            overflow-y: hidden;
        }
        .div-choice {
            padding: 20px 0 0 0;
        }
        .div-choice .back-ques {
            top: 20px;
        }
        .div-choice .forw-ques {
            top: 20px;
        }
    }
}