page-quis {
    ion-content {
        background: #ffffff;
        overflow: hidden;
    }
    
    .z-wrapper {
        width: 100%;
        height: 100%;
    }

    .div-soal {
        width: 100%;
        height: 85%;
        overflow: auto;
    }

    .div-choice {
        z-index: 2;
        width: 100%;
        height: 7%;
        padding: 5px 0 0 0;
        position: fixed;
        bottom: 0;
        background-color: #e0dede;
    }
    .grid {
        padding: 0;
    }
    .segmented-button input[type="radio"] {
        width: 0;
        height: 0;
        display: none;
    }
    .div-soal img {
        max-width: 100%;
        max-height: 100%;
    }
    .div-choice .back-ques {
        position: absolute;
        left: 2px;
        top: 1px;
        height: 35px;
    }
    .div-choice .forw-ques {
        position: absolute;
        right: 2px;
        top: 1px;
        height: 35px;
    } 
    .div-ragu {
        position: absolute;
        bottom: 8%;
        .button-md {
            box-shadow: none;
            border: none;
            height: 100%;
        }
    }
    // segmented style radio button
    .segmented-button {
        .radio-icon {
            height: 35px;
            border-radius: 0;
        }
        .radio-inner {
            height: 27px;
            border-radius: 0;
        }
    }
    .segmented-button label {
        display: -moz-inline-box;
        box-orient: vertical;
        display: inline-block;
        position: relative;
        margin: 0 5px;
    }
    .segmented-button .wrap-radio span {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        top: 5px;
        left: 19px;
    }
    .selected span {
        color: #ffffff;
    }
    .no-soal {
        padding: 10px;
        position: absolute;
        top: 33px;
        left: 2px;
    }
    .no-soal span {
        font-weight: bold;
        font-size: 14px;
    } 
    .namba {
        width: 100%;
        height: 35px;
        z-index: 1;
        color: #ffffff;
        position: relative;
        border-bottom: 2px solid #000000;

        h5 {
            font-weight: bold;
            margin-top: 8px;
        }

        .bg-text {
            width: 40px;
            height: 100%;
            background-color: #000;
        }

        ion-range {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }
        .range-md {
            padding: 0 8px 0 8px;
        }
    }
    @media only screen and (max-height : 567px) {
        .segmented-button {
            .radio-icon {
                height: 30px;
                border-radius: 0;
            }
            .wrap-radio span {
                font-size: 18px
            }
        }
        .div-choice .back-ques {
            height: 30px;
        }
        .div-choice .forw-ques {
            height: 30px;
        } 
    }
    //tablet only style
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .div-choice .back-ques {
            top: 6px;
            left: 5px;
            padding: 27px;
            font-size: 25px;
        }
        .div-choice .forw-ques {
            top: 6px;
            right: 5px;
            padding: 27px;
            font-size: 25px;
        }
        .segmented-button .wrap-radio span {
            font-size: 28px;
            top: 6px;
            left: 20px;
        }
        .segmented-button label {
            margin: 0 35px;
        }
        .radio-md .radio-icon {
            width: 75px;
            height: 55px;
            left: -8px;
            top: -4px;
        }
        .radio-md .radio-inner {
            width: 65px;
            height: 45px;
            top: 3px;
            left: 3px;
        }
        .div-choice {
            padding: 15px;
        }
        .no-soal span {
            font-size: 3.5rem;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1366px) {
        .scroll-content {
            overflow-y: hidden;
        }
        .div-choice .back-ques {
            top: 35px;
            left: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .div-choice .forw-ques {
            top: 35px;
            right: 5px;
            padding: 30px;
            font-size: 25px;
        }
        .segmented-button .wrap-radio span {
            font-size: 60px;
            left: 30px;
        }
        .segmented-button label {
            margin: 0 50px;
        }
        .radio-md .radio-icon {
            width: 100px;
            height: 100px;
        }
        .radio-md .radio-inner {
            width: 90px;
            height: 90px;
            top: 3px;
            left: 3px;
        }
        .div-choice {
            padding: 20px 0;
        }
        .no-soal span {
            font-size: 3.5rem;
        }
    }
    @media screen and (min-width: 1367px) {
        .scroll-content {
            overflow-y: hidden;
        }
        .div-choice {
            padding: 20px 0 0 0;
        }
        .div-choice .back-ques {
            top: 20px;
        }
        .div-choice .forw-ques {
            top: 20px;
        }
    }
}