<!--
  Generated template for the QuisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><h5 *ngIf="timeInSeconds && timeInSeconds > 0">{{displayTime}}</h5></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
    <span id="time" class="text-primary"></span>
  <form>
    <div *ngFor="let item of imgSoal" id="question-{{item}}" [style.display]="(item > 1) ? 'none' : 'block'">
      <div class="div-soal">
        <img src="assets/soal/000{{item}}.png" />
        <button ion-button outline color="secondary" [style.visibility]="(item < 2) ? 'hidden' : 'visible'" class="back-ques" (click)="prevq(item)">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
        <button ion-button outline color="secondary" [style.visibility]="(item == 9) ? 'hidden' : 'visible'" class="forw-ques" (click)="nextq(item)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button class="forw-ques" ion-button type="submit" color="primary" [style.visibility]="(item == 9) ? 'visible' : 'hidden'">
          Selesai
        </button>
      </div>
      <div class="div-choice">
        <div radio-group class="segmented-button">
          <label class="wrap-radio">
            <ion-radio value="a"></ion-radio>
            <span>A</span>
          </label>
          <label class="wrap-radio">
            <ion-radio value="b"></ion-radio>
            <span>B</span>
          </label>
          <label class="wrap-radio">
            <ion-radio value="c"></ion-radio>
            <span>C</span>
          </label>
          <label class="wrap-radio">
            <ion-radio value="d"></ion-radio>
            <span>D</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</ion-content>
